#root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* アスペクト比が大きい場合（横長のビューポート） */
@media screen and (min-aspect-ratio: 4/3) {
  canvas#game {
    height: min(100vh, calc(100vw - 400px));
    width: min(100vh, calc(100vw - 400px));
  }
  #root {
    height: min(100vh, calc(100vw - 400px));
    width: 100vw;
    flex-direction: row;
  }
}

/* アスペクト比が小さい場合（縦長のビューポート） */
@media screen and (max-aspect-ratio: 4/3) {
  canvas#game {
    width: min(calc(100vh - 200px), 100vw);
    height: min(calc(100vh - 200px), 100vw);
  }
  #root {
    width: min(calc(100vh - 200px), 100vw);
    height: 100vh;
    flex-direction: column;
  }
}

.player {
  font-size: 24px;
  display: flex;
  justify-content: center;
  padding: 16px;
}
.player-white {
  align-items: flex-end;
}
.player-black {
  align-items: flex-start;
}

.fixed-menu {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
