#root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* アスペクト比が大きい場合（横長のビューポート） */
@media screen and (min-aspect-ratio: 4/3) {
  canvas#game {
    height: min(100vh, calc(100vw - 400px));
    width: min(100vh, calc(100vw - 400px));
  }
  #root {
    height: min(100vh, calc(100vw - 400px));
    width: 100vw;
    flex-direction: row;
  }
}

/* アスペクト比が小さい場合（縦長のビューポート） */
@media screen and (max-aspect-ratio: 4/3) {
  canvas#game {
    width: min(calc(100vh - 200px), 100vw);
    height: min(calc(100vh - 200px), 100vw);
  }
  #root {
    width: min(calc(100vh - 200px), 100vw);
    height: 100vh;
    flex-direction: column;
  }
}

.ui-white,
.ui-black {
  flex: 1;
  align-self: stretch;
}
